<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">

</script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<head>
    {{> include/header}}
</head>
<body>
<!-- header -->
{{> include/navigation}}
<!--End header -->

<!-- Page Inner -->
<section class="image-bg lis-grediant grediant-tb">
    <div class="background-image-maker"></div>
    <div class="holder-image">
        <img src="dist/images/bg3.jpg" alt="" class="img-fluid d-none">
    </div>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-12 col-md-10 text-center wow fadeInUp">
                <div class="heading pb-5">
                    <h1 class="display-4">택시 배차 프로그램</h1>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Page Inner -->

<!-- Categories -->
<section class="lis-grediant grediant-tb-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div class="heading pb-4">
                    <h1 class="f-weight-500">회원가입 또는 로그인 후 서비스를 이용해주세요</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Categories -->


<!-- Footer-->
{{> include/footer}}
<!--End  Footer-->

<!-- Top To Bottom-->
<a href="#" class="scrollup text-center lis-bg-primary lis-rounded-circle-50">
    <div class="text-white mb-0 lis-line-height-1_7 h3"><i class="icofont icofont-long-arrow-up"></i></div>
</a>


<!-- End Top To Bottom-->

<!-- Login /Register Form-->
<div class="container">


    <div id="modal" class="popupContainer" style="display: none;">
        <header class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>

        <div class="popupBody">
            <!-- Social Login -->

            <!-- Username & Password Login form -->
            <div class="user_login">
                <form action="/users/login" method="post" id="loginForm">

                    <input type="text" name="userEmail"
                           class="form-control border-top-0 border-left-0 border-right-0 rounded-0 "
                           placeholder="user email" value="wwwkang1@gmail.com"/>
                    <br/>


                    <input type="password" name="password"
                           class="form-control border-top-0 border-left-0 border-right-0 rounded-0 "
                           placeholder="password" value="123456789"/>
                    <br/>


                    <div class="action_btns">

                        <a href="#" onclick="document.getElementById('loginForm').submit();"
                           class="btn btn-primary btn-default mt-3 w-100">Login</a>
                    </div>
                </form>
                <br/>
                Sign in with your social network<br/>
                <ul class="list-inline my-0">
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-tumblr"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-pinterest-p"></i></a></li>
                </ul>
                <hr/>
                <a href="/users/regForm">Sign up</a>
            </div>

            <!-- Register Form -->
            <div class="user_register">
                <form>

                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                           placeholder="Username"/>
                    <br/>


                    <input type="email" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                           placeholder="Email Address"/>
                    <br/>


                    <input type="password" class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                           placeholder="Password"/>
                    <br/>

                    <div class="checkbox">
                        <input id="send_updates" type="checkbox"/>
                        <label for="send_updates">Send me occasional email updates</label>
                    </div>

                    <div class="action_btns">
                        <a href="#" class="btn btn-primary btn-default mt-3 w-100">Register</a>
                    </div>
                </form>
                <br/>
                Register with your social network<br/>
                <ul class="list-inline my-0">
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-tumblr"></i></a></li>
                    <li class="list-inline-item mr-0"><a href="#"
                                                         class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i
                            class="fa fa-pinterest-p"></i></a></li>
                </ul>
                <hr/>
                Already have an account <a href="#" class="login_form">Sign In</a>
            </div>
        </div>
    </div>
</div>
<!-- End Login /Register Form-->


<!-- jQuery -->
<script src="dist/js/plugins.min.js"></script>
<script src="dist/js/common.js"></script>
</body>
</html>